// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

figure {
    text-align: center;
}

.stats-liked, .stats-hashtag {
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 900;
    padding: 2vw;
    text-align: center;
    color: rgba(246, 32, 29, 0.9)
}